* {
  color: #dee3e6;
  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font";
  transition: 200ms;
}

.blank-window {
  background: transparent;
}

/* CENTRO DE CONTROLE */
.control-center {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  border: 1px solid #899296;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
}

/* Notificações no centro de controle */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: rgba(6, 30, 37, 0.6);
  border: 1px solid rgba(64, 72, 75, 0.8);
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: #ffb4ab;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 6px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: rgba(137, 146, 150, 0.6);
  color: #dee3e6;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: #899296;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #899296;
}

/* Botões */
.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: #dee3e6;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #899296;
}

progressbar, progress, trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

/* Grupos de notificações */
.notification-group {
  margin: 2px 8px 2px 8px;
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: #dee3e6;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: #dee3e6;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: #dee3e6;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: rgba(64, 72, 75, 0.8);
}

/* WIDGETS */

/* Botão limpar notificações */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: rgba(64, 72, 75, 0.50);
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: rgba(64, 72, 75, 0.8);
}

.widget-title button:active {
  background-color: #899296;
}

/* Não perturbe */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: rgba(64, 72, 75, 0.50);
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: rgba(64, 72, 75, 0.8);
}

.widget-dnd > switch:checked {
  background: #899296;
}

.widget-dnd > switch:checked:hover {
  background: rgba(64, 72, 75, 0.8);
}

.widget-dnd > switch slider {
  background: #dee3e6;
  border-radius: 6px;
}

/* Grid de botões */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: rgba(64, 72, 75, 0.50);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: rgba(64, 72, 75, 0.8);
}

/* Player de música */
.widget-mpris {
  background: rgba(64, 72, 75, 0.50);
  border-radius: 16px;
  color: #dee3e6;
  margin: 20px 6px;
}

.widget-mpris-player {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 14px;
  padding: 6px 14px;
  margin: 6px;
}

.widget-mpris > box > button {
  color: #dee3e6;
  border-radius: 20px;
}

.widget-mpris button {
  color: rgba(222, 227, 230, 0.6);
}

.widget-mpris button:hover {
  color: #dee3e6;
}

.widget-mpris-album-art {
  border-radius: 12px;
  margin: 6px 0 0 2px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}
